/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: calibri;
  font-size: 100%
}

section {
	width: 90%;
	position: relative;
  float: left;
  background-color: gray;
  padding: 10px;
  padding-top: 0px;
  text-align: justify;
}

h1 {
      text-align: center;
      margin-bottom: 40px; 
      margin-top: 40px; 
      font-size: 1.75em;
     }

h2 {
      width: 90%;
      position: relative;
      text-align: center;
      font-size: 1.25em;
      float: right;
      margin-left: 1000px;
      margin-right: -10px;
      margin-bottom: 10px;
     }


/* Type of sessions. */

.cOrange {
  background-color: white;
}
.cPurple {
  background-color: purple;
}
.cPink {
  background-color: pink;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only (desktops)**********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    border: 1px solid black;
  }
   .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }

  #B1 {
    margin-left: 6.25%;
    margin-right: 3.125%;
  }
  #B2 {
    margin-left: 3.125%;
    margin-right: 3.125%;
  }
  #B3 {
    margin-left: 3.125%;
    margin-right: 6.25%;
  }
}

/********** Small devices only (tablets) **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    border: 1px solid black;
  }

  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 38%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 74.99%;
  }
  .col-sm-10 {
    width: 80%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }

  #B1 {
    margin-left: 10%;
    margin-bottom: 4%;
  }
  #B2 {
    margin-left: 4%;
    margin-bottom: 4%;
  }
  #B3 {
    margin-left: 10%;
    margin-right: 10%;
  }

}

/********** Extra small devices only (phones) **********/
@media (max-width: 767px) {
  .col-xm-1, .col-xm-2, .col-xm-3, .col-xm-4, .col-xm-5, .col-xm-6, .col-xm-7, .col-xm-8, .col-xm-9, .col-xm-10, .col-xm-11, .col-xm-12 {
    border: 1px solid black; 
  }

  .col-xm-1 {
    width: 8.33%;
  }
  .col-xm-2 {
    width: 16.66%;
  }
  .col-xm-3 {
    width: 25%;
  }
  .col-xm-4 {
    width: 33.33%;
  }
  .col-xm-5 {
    width: 41.66%;
  }
  .col-xm-6 {
    width: 50%;
  }
  .col-xm-7 {
    width: 58.33%;
  }
  .col-xm-8 {
    width: 66.66%;
  }
  .col-xm-9 {
    width: 74.99%;
  }
  .col-xm-10 {
    width: 83.33%;
  }
  .col-xm-11 {
    width: 91.66%;
  }
  .col-xm-12 {
    width: 100%;
  }

  #B1 {
    margin-left: 8.333%;
    margin-bottom: 4%;
  }
  #B2 {
    margin-left: 8.333%;
    margin-bottom: 4%;
  }
  #B3 {
    margin-left: 8.333%;
  }
}


